{% extends "_base.html" %}
{% block content1 %}
<div style="position:absolute; margin:0 0 0 50%; top:50%; left:50%;margin-left:-200px; margin-top:-200px" >
    <div class="easyui-panel" title="Sign Up!" style="width:400px;">
        <form method="POST" class="easyui-form" data-options="novalidate:true" action="{%url 'signup'%}"  >
{% csrf_token %}        
        	<div align="center">

{{ form.as_p }}
<p> <input type="password" name="user_ps2" class="easyui-textbox" autocomplete="off" label="비밀번호 확인" labelWidth="100" style="width: 280px;" required id="id_user_ps2"></p>
            </div>
			<div style="text-align:center;padding:0px">				
				<button class="easyui-linkbutton" iconCls="icon-man"   type="submit">Sign Up</button> 
				<button class="easyui-linkbutton" iconCls="icon-clear" type="reset">Reset</button>
			</div>
			<br>
        </form>
   </div>
</div>
{% endblock content1 %}


