{% extends "_base.html" %}

{% block content %}

<form id="signup" class="form-horizontal" method="post" action="{% url 'zsy:signup' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Username input-->
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            {{ form.username.label_tag }}
            {{ form.username }}
            <span class="field-error">
            {{ form.username.errors|striptags }}
            </span>
        </div>
    </div>

    <!-- Email input-->
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            {{ form.email.label_tag }}
            {{ form.email }}
            <span class="field-error">
            {{ form.email.errors|striptags }}
            </span>
        </div>
    </div>

    {{ form.nickname.label_tag }}
    {{ form.nickname }}
    {{ form.nickname.errors|striptags }}

    {{ form.avatar.label_tag }}
    {{ form.avatar }}
    {{ form.avatar.errors|striptags }}

    <!-- Password1 input-->
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            <span class="field-error">
            {{ form.password1.errors|striptags }}
            </span>
        </div>
    </div>

    <!-- Password2 input-->
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <span class="field-error">
            {{ form.password2.errors|striptags }}
            </span>
        </div>
    </div>

    <br>

    <!-- Button -->
    <div class="row">
        <div class="form-group col-xs-12">
            <button id="signup" name="signup" class="btn btn-block btn-default" type="submit">Sign Up</button>
            <hr>
            <center>
            Or <a href="{% url 'zsy:login' %}"><u>log in</u></a>
            if you have an account.
            </center>
        </div>
    </div>
</form>


{% endblock content %}


