{% extends '_tiny.html' %}
{% load static %}

{% block title %}
<title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
{% endblock title %}

{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/media/favicon.ico">
{% endblock meta %}

{% block css %}    
	<!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/simplebar.css' %}">
	<!-- Fonts CSS -->
    <link href="{% static '/w2ji_fonts/googlefonts.css' %}" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/feather.css' %}">
   
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/daterangepicker.css' %}">
	<!-- App CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static '/w2ji_css/app-dark.css' %}" id="darkTheme" disabled>
{% endblock css %}



{% block content %}
  <body class="vertical  light  ">
    <div class="wrapper">
    
{% include '_tinytop.html' %}

{% include '_tinyside.html' %}

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-10 mx-auto">
              <h2 class="h5 page-title" id="task-section">Sparkline Charts</h2>
              <p class="text-muted">A jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML, or via javascript </p>
              <div class="row">
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <strong class="card-title">Sparkline Bar</strong>
                          <p class="small mb-0"><span class="fe fe-12 fe-arrow-up text-success"></span><span class="text-muted">37.7%</span></p>
                        </div>
                        <div class="col-4 text-right">
                          <span class="sparkline inlinebar"></span>
                        </div>
                      </div> <!-- /. row -->
                    </div> <!-- /. card-body -->
                  </div> <!-- /. card -->
                </div> <!-- /. col -->
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <strong class="card-title">Sparkline line</strong>
                          <p class="small mb-0"><span class="fe fe-12 fe-arrow-down text-danger"></span><span class="text-muted">-6.8%</span></p>
                        </div>
                        <div class="col-4 text-right">
                          <span class="sparkline inlineline"></span>
                        </div>
                      </div> <!-- /. row -->
                    </div> <!-- /. card-body -->
                  </div> <!-- /. card -->
                </div> <!-- /. col -->
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <strong class="card-title">Sparkline line</strong>
                          <p class="small mb-0"><span class="fe fe-12 fe-arrow-up text-success"></span><span class="text-muted">32.7%</span></p>
                        </div>
                        <div class="col-4 text-right">
                          <span class="sparkline inlinepie"></span>
                        </div>
                      </div> <!-- /. row -->
                    </div> <!-- /. card-body -->
                  </div> <!-- /. card -->
                </div> <!-- /. col -->
              </div> <!-- end section -->
              <h2 class="h5" id="task-section">SVG gauge</h2>
              <p class="text-muted">Minmalistic, configurable, animated SVG gauge. Zero dependencies </p>
              <div class="row">
                <div class="col-md-3 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <p class="small mb-3"><strong>CPU</strong></p>
                      <div id="gauge1" class="gauge-container mx-auto">
                      </div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-3 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <p class="small mb-3"><strong>RAM</strong></p>
                      <div id="gauge2" class="gauge-container mx-auto">
                      </div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-3 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <p class="small mb-3"><strong>Disk</strong></p>
                      <div id="gauge3" class="gauge-container g3 mx-auto">
                      </div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-3 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <p class="small mb-3"><strong>Network</strong></p>
                      <div id="gauge4" class="gauge-container g4 mx-auto">
                        <span class="value-text text-muted small">MB/s</span>
                      </div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
              </div> <!-- end section -->
              <!-- Apex Radialbar Charts -->
              <h2 class="h5" id="task-section">ApexCharts Radialbars</h2>
              <p class="text-muted">Data can be represented on a radial bar chart in the various formats such as multiple radial bar charts, radial bar with an image, and even in semi-circular gauge forms
              <div class="row">
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <div id="radialbar"></div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <div id="multiRadialbar"></div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <div id="customAngle"></div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <div id="gradientRadial"></div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <div id="strokeRadial"></div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
                <div class="col-md-4 my-4">
                  <div class="card shadow">
                    <div class="card-body text-center">
                      <div id="semiRadial"></div>
                    </div> <!-- / .card-body -->
                  </div> <!-- / .card -->
                </div> <!-- /. col -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-box fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Package has uploaded successfull</strong></small>
                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-download fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Widgets are updated successfull</strong></small>
                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-inbox fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Notifications have been sent</strong></small>
                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-link fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Link was attached to menu</strong></small>
                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .list-group -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body px-5">
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-success justify-content-center">
                      <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Control area</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Activity</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Droplet</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Upload</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-users fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Users</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Settings</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="{% static '/w2ji_js/jquery.min.js' %}"></script>
    <script src="{% static '/w2ji_js/popper.min.js' %}"></script>
    <script src="{% static '/w2ji_js/moment.min.js' %}"></script>
    <script src="{% static '/w2ji_js/bootstrap.min.js' %}"></script>
    <script src="{% static '/w2ji_js/simplebar.min.js' %}"></script>
    <script src="{% static '/w2ji_js/daterangepicker.js' %}"></script>
    <script src="{% static '/w2ji_js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static '/w2ji_js/tinycolor-min.js' %}"></script>
    <script src="{% static '/w2ji_js/config.js' %}"></script>
    
    <script src="{% static '/w2ji_js/d3.min.js' %}"></script>
    <script src="{% static '/w2ji_js/topojson.min.js' %}"></script>
    <script src="{% static '/w2ji_js/datamaps.all.min.js' %}"></script>
    <script src="{% static '/w2ji_js/datamaps-zoomto.js' %}"></script>
    <script src="{% static '/w2ji_js/datamaps.custom.js' %}"></script>
    <script src="{% static '/w2ji_js/Chart.min.js' %}"></script>    
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>

    <script src="{% static '/w2ji_js/gauge.min.js' %}"></script>
    <script src="{% static '/w2ji_js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static '/w2ji_js/apexcharts.min.js' %}"></script>
    <script src="{% static '/w2ji_js/apexcharts.custom.js' %}"></script>
    <script src="{% static '/w2ji_js/apps.js' %}"></script>
  </body>
{% endblock content %}