{% extends '_tiny.html' %}
{% load static %}

{% block title %}
<title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
{% endblock title %}

{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/media/favicon.ico">
{% endblock meta %}

{% block css %}    
	<!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/simplebar.css' %}">
	<!-- Fonts CSS -->
    <link href="{% static '/w2ji_fonts/googlefonts.css' %}" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/feather.css' %}">
    
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/daterangepicker.css' %}">
    
	<!-- App CSS -->
    <link rel="stylesheet" href="{% static '/w2ji_css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static '/w2ji_css/app-dark.css' %}" id="darkTheme" disabled>
{% endblock css %}

{% block content %}
  <body class="vertical  light  ">
    <div class="wrapper">
    
{% include '_tinytop.html' %}

{% include '_tinyside.html' %}

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h1 class="page-title">Let's start</h1>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
       
       
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    
    <script src="{% static '/w2ji_js/jquery.min.js' %}"></script>
    <script src="{% static '/w2ji_js/popper.min.js' %}"></script>
    <script src="{% static '/w2ji_js/moment.min.js' %}"></script>
    <script src="{% static '/w2ji_js/bootstrap.min.js' %}"></script>
    <script src="{% static '/w2ji_js/simplebar.min.js' %}"></script>
    <script src="{% static '/w2ji_js/daterangepicker.js' %}"></script>
    <script src="{% static '/w2ji_js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static '/w2ji_js/tinycolor-min.js' %}"></script>
    <script src="{% static '/w2ji_js/config.js' %}"></script>    
	<script src="{% static '/w2ji_js/apps.js' %}"></script>    
    
  </body>
{% endblock content %}