<!-- bbs/templates/base.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
		{% block title %}<!-- 페이지별 타이틀 공간 -->
       <title>bbs - minitutorial</title>
       {% endblock title %}

       {% block meta %}    <!-- 페이지별 메타 데이터 공간 -->
       {% endblock meta %}

       {% block scripts %}    <!-- 페이지별 스크립트 공간 -->
       {% endblock scripts %}

       {% block css %}        <!-- 페이지별 css -->
       {% endblock css %}
</head>
<body>
    {% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/w2ji_bbs/">게시글 목록</a>
            </div>
        </div>
    </nav>
	{% if messages %}    <!-- 추가된 부분 시작 -->
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}          <!-- 추가된 부분 끝 -->    
    {% endblock header %}

   {% block content %}
   view: {{ view }} <!-- ctx['view'] -->
   <br>
   data: {{ data }}  <!-- ctx['data'] -->
   {% endblock content %}
   </body>
</html>