{% load static %}
<!doctype html>
<html>
	<head>
		<!-- 타이틀 공간 -->
		{% block title %}
		{% endblock title %}

		<!-- 페이지별 메타 데이터 공간 -->
       	{% block meta %}
       	
       	{% endblock meta %}
       	
       	<!-- 페이지별 css -->
       	{% block css %}
       	{% endblock css %}       	
		
		<!-- 페이지별 스크립트 공간 -->
       	{% block scripts %}
       	{% endblock scripts %}       	
</head>	

{% block content %}
{% endblock content %}


<!-- 페이지별 스크립트 공간 -->
{% block scripts2 %}
{% endblock scripts2 %}

</html>